<ion-menu [content]="content">

    <ion-content>
        <div class="user-profile">

        </div>
        <ion-list>
            <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
              <ion-icon [name]="page.icon" item-left></ion-icon>
              {{page.title}}
            </button>
        </ion-list>

        <ion-list>
            <ion-list-header>Information</ion-list-header>

            <button menuClose ion-item *ngFor="let page of extra" (click)="openOther(page)">
              <ion-icon [name]="page.icon" item-left></ion-icon>
              {{page.title}}
            </button>
        </ion-list>

    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>